/* CSS Reset */
*, *::before, *::after {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box; vertical-align: baseline;
    font-family: "Montserrat", Sans-serif, serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 16px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    padding: 20px;
    color: #FF96AA;
    font-family: "Montserrat", Sans-serif, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1px;
    /*position: sticky;*/
    /*top: 5px;*/
}

.header__container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 75%;
    column-gap: 10%;
    align-items: center;
}

.header__nav{
    width: 100%;
}

.header__nav-list {
    margin-left: 50px;
    width: 70%;
    max-width: 1200px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.arrow-down{
    margin-top: -1px;
    margin-left: 5px;
    border: solid #FF96AA;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.header__nav-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.header__nav-item {
    margin-right: 20px;
    position: relative;
}

.header__nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    background-color: #fff;
    list-style: none;
    padding-top: 15px;
    margin: 0;
    z-index: 999;
}

.header__nav-dropdown li{
    width: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.header__nav-item:hover,.header__nav-item:hover .arrow-down {
    color: #FF5172;
    border-color: #FF5172;
}

.header__nav-dropdown li:hover {
    background-color: #fde0e5;
    color: #FF5172;
}

.header__nav-dropdown-content{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.header__nav-item--has-dropdown:hover .header__nav-dropdown {
    display: block;
}

.header__icon-gb {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 5px;
    background-image: url('img/united-kingdom.png');
    background-size: cover;
}

.header__icon-he {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 5px;
    background-image: url('img/israel.png');
    background-size: cover;
}

.header__icon-gr {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 5px;
    background-image: url('img/german.png');
    background-size: cover;
}

.header__column-1, .header__column-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-dropdown li {
    padding: 8px;
}

.header__logotype {
    width: 100%;
    max-width: 190px;
    height: auto;
}

/*Section 1*/

.section__1 {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    font-family: "Montserrat", Sans-serif, serif;
}

.section__1 H1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
}

.section__1 p {
    font-size: 25px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin: 15px 0 30px 0;
}

.section__1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 162px;
    background-color: #FF96AA;
    border: solid #FF96AA;
    border-radius: 40px;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    transition: transform 0.3s ease;
}

.section__1 a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.section__1 a:hover::after {
    opacity: 0.3;
}

.section__1 a:hover {
    transform: scale(110%);
}

.section__1-secondcol{
    position: relative;
    padding: 80px 1em 10px 1em;
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 20% 80%;
    background-color: #FFF7F9;
}

.section__1-quote{
    grid-column: 1 / span 2;
    margin-bottom: 25px;
}

.circular-image{
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.section__1-name{
    font-weight: 900;
}

.section__1-secondcol-logo{
    position: absolute;
    bottom: -30px;
    right: -30px;
    height: 60px;
    width: 60px;
}

/*Section 2*/
.section__2{
    width: 100%;
}

.section__2-container {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(9, 12%);
    font-family: "Montserrat", Sans-serif, serif;
}

.section__2-title{
    grid-column: 1 / span 9;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 0.3px;
    padding: 10px 0;
    margin: 30px 0 15px 0;
}

.section__2-partner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__2-partner img {
    width: 100%;
    max-width: 165px;
    height: 100%;
    max-height: 66px;
    display: block;
    transition: filter 0.3s ease-in-out;
}

.section__2-partner:hover img {
    filter: brightness(30%);
}

/*Section 3*/

.section__3{
    background-color: #102441;
    padding: 45px;
    text-align: center;
}

.section__3-container{
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Пропорция 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Section 4*/
.section__4-container{
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    font-family: Montserrat, sans-serif, serif;
}

.section__4-container-item-2, .section__4-container-item-3, .section__4-container-item-4{
    /*min-height: 370px;*/
}

.section__4-container-item-1, .section__4-container-item-5 {
    grid-column: 1 / span 3;
}

.section__4-container-item-1{
    text-align: center;
}

.section__4-container-item-1 h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 50px;
}
.section__4-container-item-1 h2{
    color: rgb(255, 150, 170);
    font-size: 30px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 0.3px;
    line-height: 30px;
}

.section__4-container-item-column{
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.section__4-container-item-column div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section__4-container-item-column div img{
    width: 50px;
    height: 50px;
}

.section__4-container-item-5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__4-container-item-5 button{
    max-height: 60px;
    max-width: 350px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.2px;
    color: white;
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
}
.section__4-container-item-5 button:nth-child(1){
    background-color: #0F213A;
}
.section__4-container-item-5 button:nth-child(2){
    background-color: #FF96AA;
}
.section__4-container-item-5 button:nth-child(3){
    background-color: #247DFF;
}

.section__4-container-item-5 button:nth-child(4){
    background-color: #A9B8D3;
}

.section__4-container-item-5 button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.1) inset;
}

/*Section 5*/

.section__5-container{
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    display: grid;
    justify-content: center;
}
.section__5-container img{
    width: 100%;
    height: auto;
    max-width: 1180px;
}

/*Section 6*/

.section__6-container {
    margin: 50px auto 50px auto;
    width: 1180px;
    height: 237px;
    position: relative;
    overflow: hidden;
    background-image: url('img/joseph-frank-XGC.jpg');
    background-position: center;
    background-size: 100%;
    transition: transform, background-size 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.section__6-container h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    color: white;
    z-index: 5;
}

.section__6-container h2{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: white;
    z-index: 5;
}

.section__6-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.1em;
    letter-spacing: 0.5px;
    width: 162px;
    height: 52px;
    background-color: #FF96AA;
    border-radius: 79px;
    margin-left: 120px;
    color: white;
    z-index: 5;
    position: relative;
}

.section__6-container a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease-in-out;
    z-index: -1;
    border-radius: 79px;
}

.section__6-container a:hover::before {
    background: rgba(255, 255, 255, 0.3);
}

.section__6-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.section__6-container:hover {
    background-size: 120%;
}

.section__6-container:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

/*section 7*/
.section__7-container{
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.section__7-card{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.section__7-card:hover{
    box-shadow: 6px 9px 13px rgba(0, 0, 0, 0.5);
}

.section__7-title {
    grid-column: 1 / span 3;
}

.section__7 h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
    text-align: center;
}

.section__7 h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    color: #ff96aa;
    text-align: center;
}

.section__7-image {
    width: 100%;
    height: 250px;
    position: relative;
}

.section__7-image img {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    z-index: -1;
}

.section__7-image-emb {
    z-index: 1;
    display: inline-block;
    background-color: #FF96AA;
    margin: 20px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    border-radius: 999px;
    color: white;
    font-size: 12px;
    padding: 0.6em 1.2em;
}
.section__7-desc {
    padding: 10px;
}

.section__7-desc p{
    color: #0F213A;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.section__7-desc a {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: #FF96AA;
}

/*section 10*/

.section__10-container{
    width: 70%;
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.section__10-container h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
}

.dot{
    display: inline-block;
    color: #ff96aa;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff96aa;
}

.section__10-container-button{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: white;
    background-color: #ff96aa;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 30px 20px 30px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s ease;
}

.section__10-container-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.section__10-container-button:hover::after {
    opacity: 0.3;
}

.section__10-container-button:hover {
    transform: scale(110%);
}

.footer__container{
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    display: grid;
    gap: 10px;
    grid-template:
            [title] "t t t t" [title]
            [cols] "c1 c2 c3 c3"[cols]
            [copyright] "cp cp cp cp" [copyright]
/ 1fr 1fr 1fr 1fr;
;
    min-height: 200px;
}

.footer__container h2{
    font-size: 17px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}

.footer__title{
    grid-area: t;
}

.footer__title img{
    height: 25px;
    width: 228px;
    margin-bottom: 50px;
}

.footer__col1{
    grid-area: c1;
}

.footer__col1 a{
    display: inline-block;
    color: rgb(33, 33, 36);
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    height: 27px;
    letter-spacing: 0.3px;
    line-height: 17px;
    margin-bottom: 10px;
}

.footer__col1 a:hover{
    color: rgb(202, 202, 222);
}

.footer__col2{
    grid-area: c2;
}

.footer__col2 div{
    height: fit-content;
    padding: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
    position: relative;
}

.footer__col2 div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.footer__col2 div:hover::after {
    opacity: 0.6;
}

.footer__col2 img{
    max-width: 25px;
    min-height: 25px;
    margin-right: 20px;
}

.footer__col3{
    grid-area: c3;
}

.footer__col3 img{
    margin-right: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer__col3 img:hover {
    transform: scale(1.1);
}

.footer__col3 div{
    display: inline-block;
    position: relative;
}

.footer__col3 div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.footer__col3 div:hover::after {
    opacity: 0.3;
}

.footer__copyright{
    grid-area: cp;
}

.footer__copyright{
    color: rgb(33, 33, 36);
    font-family: Assistant, sans-serif;
    font-size: 13px;
    font-weight: 300;
    height: 13px;
    letter-spacing: 0.3px;
    line-height: 13px;
    margin-bottom: 50px;
}